.submenu {
    display: none;
    background-color: #3d3d3d;
    padding: 0;
}

.submenu li {
    padding-left: 10px;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
}

.open {
    display: block;
    z-index: 1;
}

.space {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.space:hover {
    background-color: #3d3d3d;
}

.display-none {
    display: none;
}