nav {
    width: 100dvw;
    height: 60px;
    background-color: #2d2d2d;
    border-bottom: 1px solid #3d3d3d;
    display: block;
}

#OpenMenu {
    font-size: 3rem;
    color: #fff;
    padding: 10px;
}